@use "../../styles/functions" as funcs;
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixs;

.product-card {
  position: relative;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
  }

  .image-container {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 0.25rem;
    border: 1px solid;

    @include mixs.md-screen {
      height: 250px;
    }

    @include mixs.lg-screen {
      height: 280px;
    }

    .main-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .thumbnail-list {
    display: flex;
    gap: 0.2rem;

    .thumbnail-container {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      overflow: hidden;
      padding: 0.1rem;

      @include mixs.md-screen {
        width: 2.2rem;
        height: 2.2rem;
      }

      @include mixs.lg-screen {
        width: 2.3rem;
        height: 2.3rem;
      }

      .thumbnail {
        object-fit: cover;
        width: 100%;
        border: 1px solid vars.$primary-color;
        border-radius: 50%;

        &:hover {
          border: 1px solid vars.$primary-color;
          transition: border 0.3s ease-in-out;
        }
      }
    }

    .thumbnail-container.active {
      border: 1px solid;
      box-shadow: 0 2px 4px;
      transition: border 0.3s ease-in-out;
    }
  }

  .product-info {
    width: 100%;

    .product-title {
      font-weight: bold;
      font-size: 1rem;

      margin-bottom: 0.2rem;
      text-align: left;

      @include mixs.md-screen {
        font-size: 1.1rem;
      }

      @include mixs.lg-screen {
        font-size: 1.2rem;
      }
    }

    .product-price {
      font-size: 1rem;
    }
  }
}

.wishlist-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 10;

  border: 1px solid #cacaca;
  border-radius: 40%;
  padding: 0.2rem 0.5rem;

  @include mixs.flex-center;
  color: #cacaca;
  cursor: pointer;

  &:hover {
    color: darken(#cacaca, 20%);
    border-color: darken(#cacaca, 20%);
  }
}
