@use "./variables" as vars;

// -------- btn style --------
@mixin button-style() {
  border-radius: vars.$border-radius;
  border: none;
  padding: 0.2rem 1rem;
}

// -------- responsive --------
@mixin responsive {
  @media (max-width: vars.$breakpoint-sm) {
    @content;
  }
}

// login/register input form
@mixin input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: vars.$primary-color;
    box-shadow: 0 0 0.2rem vars.$light-shadow-color; // Shadow on focus
  }
}

@mixin error-text {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem; // Add some spacing above the error message
}
