@use "./variables" as vars;

// -------- btn style --------
@mixin button-style() {
  border-radius: vars.$border-radius;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

// -------- responsive --------
@mixin sm-screen {
  @media (max-width: vars.$breakpoint-sm) {
    @content;
  }
}
@mixin md-screen {
  @media (min-width: 577px) and (max-width: vars.$breakpoint-lg) {
    @content;
  }
}
@mixin lg-screen {
  @media (min-width: 993px) {
    @content;
  }
}

// login/register input form
@mixin input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #333;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: vars.$primary-color;
    box-shadow: 0 0 0.2rem vars.$light-shadow-color; // Shadow on focus
  }
}

@mixin error-text {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem; // Add some spacing above the error message
}

// ------------ Animation ------------
@mixin fadeIn {
  animation: fadeIn 0.3s ease-out both;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin slideUp {
  animation: slideUp 0.3s ease-in-out both;

  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

@mixin shake {
  animation: shake 0.3s ease-in-out infinite both;

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-5px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(5px);
    }
  }
}

@mixin spin {
  animation: spin 1s linear infinite both;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin slideLeftToRight {
  animation: slideLeftToRight 0.3s ease-out both;

  @keyframes slideLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
