@use "./variables" as vars;
@use "./mixins" as mix;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: vars.$background-color;
  text-align: center;
  font-family: vars.$font-family;
  font-size: vars.$font-size-base;
}
