@use "../../../styles/functions" as funcs;
@use "../../../styles/variables" as vars;
@use "../../../styles/mixins" as mixs;

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );

  h1 {
    font-size: 3rem;

    @include mixs.md-screen {
      font-size: 2rem;
    }
  }
}
