@use "../../styles/functions" as funcs;
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixs;

.product-detail {
  padding-top: 4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .navigation-links {
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    font-size: 0.85rem;
    padding: 0 1rem;
    a {
      text-decoration: none;
    }
  }

  .product-detail__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mixs.md-screen {
      flex-direction: row;
      justify-content: baseline;
      width: 100%;
    }

    @include mixs.lg-screen {
      flex-direction: row;
      justify-content: baseline;
    }

    .product-detail__infor {
      padding: 0 1rem;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .product-detail__title {
        font-weight: 400;
        font-size: 1rem;

        @include mixs.md-screen {
          font-size: 1.2rem;
        }

        @include mixs.lg-screen {
          font-size: 1.3rem;
        }
      }

      .product-detail__price {
        font-weight: 700;
        font-size: 1rem;

        @include mixs.md-screen {
          font-size: 1.2rem;
        }

        @include mixs.lg-screen {
          font-size: 1.3rem;
        }
      }

      .product-detail__description {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .description-btn {
          display: flex;
          align-items: center;
          gap: 0.2rem;
          font-size: 0.9rem;

          @include mixs.md-screen {
            font-size: 1.1rem;
          }

          @include mixs.lg-screen {
            font-size: 1.2rem;
          }
        }

        .description-content {
          font-size: 0.85rem;

          @include mixs.md-screen {
            font-size: 0.95rem;
          }

          @include mixs.lg-screen {
            font-size: 1.05rem;
          }
        }
      }

      .product-detail__btns {
        display: flex;
        align-items: center;
        gap: 1rem;

        button {
          width: 100%;
          cursor: pointer;

          padding: 0.5rem 1rem;
          border-radius: 0.5rem;

          @include mixs.md-screen {
            font-size: 1rem;
          }

          @include mixs.lg-screen {
            font-size: 1.2rem;
          }
        }

        span {
          border: 1px solid;
          padding: 0.5rem;
          border-radius: 50%;
          cursor: pointer;

          @include mixs.flex-center;

          @include mixs.md-screen {
            font-size: 1rem;
          }

          @include mixs.lg-screen {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
