@use "../../styles/functions" as funcs;
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixs;

.header-container {
  position: fixed;
  width: 100%;
  z-index: 100;
  max-width: 1280px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.8rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  @include mixs.lg-screen {
    padding: 0.5rem 0.8rem;
  }

  .header__logo-container {
    background: vars.$primary-color;
    border-radius: 50%;
    overflow: hidden;
    width: 2rem;
    height: 2rem;
    border: 1px solid vars.$dark-shadow-color;

    @include mixs.md-screen {
      width: 2.3rem;
      height: 2.3rem;
    }

    @include mixs.lg-screen {
      width: 2.6rem;
      height: 2.6rem;
    }

    .header__logo {
      width: 100%;
      height: 100%;
    }
  }

  .header__right-side {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

// ----- laptop version -----
.header-nav__wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
  }
}

.header__right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

// ----- mobile version -----
.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: vars.$z-index-dropdown;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: none;

  .menu-dropdown {
    height: 100vh;
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1.5rem;
    gap: 0.8rem;
    @include mixs.slideLeftToRight;

    a {
      text-decoration: none;
      font-size: 0.9rem;
      @include mixs.md-screen {
        font-size: 1.1rem;
      }
    }
  }
}

.menu.open {
  display: block;
}

// nav-down mobile version
.header-down {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  padding: 0.8rem;
  width: 100%;

  border-top: 1px solid;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.header-btn {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.No-scrolling {
  background-color: transparent;
}
