@use "../../../styles/functions" as funcs;
@use "../../../styles/variables" as vars;

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 0 funcs.new-padding-size(1.5);
  height: 100vh;
  .register__title {
    font-size: funcs.new-font-size(2);
  }

  .register-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 1rem;

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      gap: 0.2rem;

      input {
        width: 100%;
      }
    }

    .form-terms {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
    }

    .submit-btn {
      align-self: center;
    }
  }

  .register__small-text {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
