@use "../../styles/functions" as funcs;
@use "../../styles/variables" as vars;
@use "../../styles/mixins" as mixs;

.image-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  @include mixs.md-screen {
    padding: 0 1rem;
  }

  @include mixs.lg-screen {
    flex-direction: row;
    padding: 0 1rem;
  }

  .thumbnails {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    order: 2;

    @include mixs.md-screen {
      order: 2;
    }

    @include mixs.lg-screen {
      order: 1;

      flex-direction: column;
      align-self: flex-start;
    }

    .thumbnail {
      margin-bottom: 5px;
      border-radius: 0.5rem;
      cursor: pointer;

      img {
        width: 4rem;
        height: auto;
        border: none;
        transition: border-color 0.3s ease;

        @include mixs.md-screen {
          width: 5rem;
        }

        @include mixs.lg-screen {
          width: 5rem;
        }

        &:hover {
          border: 2px solid;
        }
      }

      &.active img {
        border: 2px solid;
      }
    }
  }

  .main-image {
    position: relative;

    @include mixs.md-screen {
      order: 1;
    }

    @include mixs.lg-screen {
      order: 2;
    }

    img {
      max-width: 100%;
      height: auto;
      cursor: zoom-in;
      transition: transform 0.3s ease;

      &.transition {
        transition: transform 0.3s ease;
      }
    }

    .prev-button,
    .next-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;

      @include mixs.flex-center;

      font-size: 2rem;
      cursor: pointer;
      background-color: transparent;
      border: none;

      @include mixs.md-screen {
        font-size: 2.5rem;
      }

      @include mixs.lg-screen {
        font-size: 3rem;
      }

      &:hover {
        border: 1px solid #cacaca;
      }

      &.prev-button {
        left: 0.2rem;
      }

      &.next-button {
        right: 0.2rem;
      }
    }
  }
}
